language: generic
os: linux

stages:
  - 'Test'
  - 'Integration tests'
  - 'Publish'

jobs:
  include:
    - stage: 'Test'
      os: linux
      language: node_js
      node_js: 10
      install: yarn
      script: yarn test
      addons:
        srcclr: true

    - stage: 'Integration tests'
      language: minimal
      env:
        SDK=react
        SDK_BRANCH=$TRAVIS_PULL_REQUEST_BRANCH
        # Need to provide REPO_SLUG here otherwise it defaults to Fullstack suite repos.
        REPO_SLUG=optimizely/react-sdk-e2e-tests
      before_install: skip
      install: skip
      before_script:
        - mkdir $HOME/travisci-tools && pushd $HOME/travisci-tools && git init && git pull https://$CI_USER_TOKEN@github.com/optimizely/travisci-tools.git && popd
      script:
        - $HOME/travisci-tools/trigger-script-with-status-update.sh main
      after_success: travis_terminate 0

    - stage: 'Publish'
      if: type = push AND tag IS present AND tag =~ /^[0-9]+\.[0-9]+\.[0-9]+/
      name: publish to github release
      os: linux
      language: minimal
      install:
        # installs hub to /tmp/bin
        - URL=$(curl https://api.github.com/repos/github/hub/releases/latest 2>/dev/null |  jq -r '.assets[] | select(.browser_download_url | contains("linux-amd64")) | .browser_download_url')
        - curl -fsSL "$URL" | tar xz -C /tmp --strip-components=1 --wildcards '*/bin/hub'
        - export PATH=/tmp/bin:$PATH
        - hub version
      script:
        - NEW_VERSION=$(grep -P '^## \[\d+\.\d+\.\d+.*\]' CHANGELOG.md | awk 'NR==1' |  sed -e 's/\[/\\\[/' | sed -e 's/\]/\\\]/')
        - LAST_VERSION=$(grep -P '^## \[\d+\.\d+\.\d+.*\]' CHANGELOG.md | awk 'NR==2' |  sed -e 's/\[/\\\[/' | sed -e 's/\]/\\\]/')
        - DESCRIPTION=$(awk "/^${NEW_VERSION}$/,/^${LAST_VERSION:-nothingmatched}$/" CHANGELOG.md | grep -v "^${LAST_VERSION:-nothingmatched}$")
        - hub release create -m "Release ${TRAVIS_TAG}" -m "${DESCRIPTION}" "${TRAVIS_TAG}"
