name: Run Production Suite

on:
  workflow_call:
    secrets:
      CI_USER_TOKEN:
        required: true
      TRAVIS_COM_TOKEN:
        required: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout branch
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.CI_USER_TOKEN }}
        repository: 'optimizely/travisci-tools'
        path: 'home/runner/travisci-tools'
        ref: 'master'
    - name: Set SDK branch if PR
      if: ${{ github.event_name == 'pull_request' }}
      run: |
        echo "SDK_BRANCH=${{ github.head_ref }}" >> $GITHUB_ENV
    - name: Set SDK branch if not pull request
      if: ${{ github.event_name != 'pull_request' }}
      run: |
        echo "SDK_BRANCH=${{ github.ref_name }}" >> $GITHUB_ENV
        echo "TRAVIS_BRANCH=${{ github.ref_name }}" >> $GITHUB_ENV
    - name: Trigger build
      env:
        SDK: react
        REPO_SLUG: optimizely/react-sdk-e2e-tests
        FULLSTACK_TEST_REPO: ${{ inputs.FULLSTACK_TEST_REPO }}
        BUILD_NUMBER: ${{ github.run_id }}
        TESTAPP_BRANCH: master
        GITHUB_TOKEN: ${{ secrets.CI_USER_TOKEN }}
        EVENT_TYPE: ${{ github.event_name }}
        GITHUB_CONTEXT: ${{ toJson(github) }}
        PULL_REQUEST_SLUG: ${{ github.repository }}
        UPSTREAM_REPO: ${{ github.repository }}
        PULL_REQUEST_SHA: ${{ github.event.pull_request.head.sha }}
        PULL_REQUEST_NUMBER: ${{ github.event.pull_request.number }}
        UPSTREAM_SHA: ${{ github.sha }}
        TOKEN: ${{ secrets.TRAVIS_COM_TOKEN }}
        EVENT_MESSAGE: ${{ github.event.message }}
        HOME: 'home/runner'
      run: |
        home/runner/travisci-tools/trigger-script-with-status-update.sh junaed/fssdk-10438-fix-integration-pipeline 
