name: React SDK CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  unitTests:    
    name: Run Unit Tests (Node ${{ matrix.node }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '14', '16', '18', '20' ]
    steps:
    - name: Checkout branch
      uses: actions/checkout@v3
    - name: Set up Node ${{ matrix.node }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node }}
    - name: Install dependencies
      run: yarn install
    - name: Run tests
      run: yarn test
  
  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ArtiomTr/jest-coverage-report-action@v2
      with:
        custom-title: 'Code Coverage Report'

  integration_tests:    
    name: Run integration tests
    needs: [ unitTests ]
    uses: optimizely/react-sdk/.github/workflows/integration_test.yml@master
    secrets:
      CI_USER_TOKEN: ${{ secrets.CI_USER_TOKEN }}
      TRAVIS_COM_TOKEN: ${{ secrets.TRAVIS_COM_TOKEN }}         
