name: Publish React SDK to NPM

on:
  release:
    types: [ published ]

jobs:
  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
    - name: Checkout branch
      uses: actions/checkout@v4
    - name: Set up Node
      uses: actions/setup-node@v3
      with:
        node-version: "20.x"
        registry-url: "https://registry.npmjs.org/"
    - name: Install dependencies
      run: yarn install
    - name: Test, build, then publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.PUBLISH_REACT_SDK_TO_NPM }}
      run: npm publish
